# Paikallista testausta varten. Kopioi tiedostoksi .env ja tayta arvot,
# tai anna ne ymparistomuuttujina ennen skriptin ajoa.
# GitHub Actionsissa nama asetetaan Secrets / Variables -asetuksista, ei tahan tiedostoon.

EVENT_URL=https://www.ticketmaster.fi/event/melo-louna0nline-lippuja/1181155277
EVENT_LABEL=Melo, Louna0nline @ Allas Live
GMAIL_USER=elena.silvola@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
NOTIFY_EMAIL=elena.silvola@hotmail.fi
